# Core functionality - changes here should be rare!
/src/app.py                   @nellycuerpo
/src/backend/database.py      @nellycuerpo
/src/backend/routers/auth.py  @nellycuerpo

# The frontend will need refactored soon to be more object oriented.
/src/static/   @nellycuerpo
